<h1>Listing medevents</h1>

<!-- TIMEGLIDER PLACEMENT: Put the intended location for the timeline  
     directly above the data table -->
<div id='placement'></div>

<table class='timeline-table' id="myMedEvents" focus_date="2011-05-15"
title="my life" initial_zoom="48" description="The Wild and Wooly times of James Davis.">
<!-- The first row of the table is reserved for meta-data.
    
     Class values below are *critical* for mapping out data from the 
     <td> elements that follow ---  though order is not important.
     The text in <td> elements is *not* critical: just the class names.
-->
<tr>
  <th class="tg-startdate">start date</th>
  <th class="tg-enddate">end date</th>
  <th class="tg-title">title</th>
  <th class="tg-description">description</th>
  <th class="tg-icon">icon</th>
  <th class="tg-importance">importance</th>
  <th class="tg-link">link</th>	
</tr>


<% @medevents.each do |medevent| %>
  <tr>
    <td><%= medevent.start_date %></td>
    <td><%= medevent.end_date %></td>
    <td><%= medevent.title %></td>
    <td><%= medevent.description %></td>
	<td>images/timeglider/icons/circle_green.png</td>
    <td><%= medevent.importance %></td>
	<td><%= edit_medevent_path(medevent) %></td>
    <!--><td><%= link_to 'Show', medevent %></td>
    <td><%= link_to 'Edit', edit_medevent_path(medevent) %></td>
    <td><%= link_to 'Destroy', medevent, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</table>


<!-- 3rd party libs -->
    <script src="javascripts/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/jquery-ui-1.8.9.custom.min.js" type="text/javascript" charset="utf-8"></script>

    <!-- FRIEND LIBS -->
    <script src="javascripts/underscore-min.js" type="text/javascript" charset="utf-8"></script>

	<script src="javascripts/backbone-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/jquery.global.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/jquery.tmpl.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/ba-debug.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/ba-tinyPubSub.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/jquery.mousewheel.min.js" type="text/javascript" charset="utf-8"></script>

	<script src="javascripts/jquery.ui.ipad.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/raphael-min.js" type="text/javascript" charset="utf-8"></script>

	    
	<!-- TIMEGLIDER -->
	<script src="javascripts/timeglider/TG_Date.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/timeglider/TG_Org.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/timeglider/TG_Timeline.js" type="text/javascript" charset="utf-8"></script> 
	<script src="javascripts/timeglider/TG_TimelineView.js" type="text/javascript" charset="utf-8"></script>

	<script src="javascripts/timeglider/TG_Mediator.js" type="text/javascript" charset="utf-8"></script> 
	<script src="javascripts/timeglider/timeglider.timeline.widget.js" type="text/javascript" charset="utf-8"></script>

  <script>

	$(document).ready(function () { 
		
		var tld = "timeline";
		
		var tg1 = $("#placement").timeline({
				"min_zoom":18, 
				"max_zoom":55, 
				// data source is the id of the table!
				"data_source":"#myMedEvents"
		});
		
		
		$("#toggle").click(function () { 
			if (tld == "timeline") {
				$("#placement").css({"display":"none"});
				$(".timeline-table").css({"display":"block"});
				tld = "table";
			} else {
				$("#placement").css({"display":"block"});
				$(".timeline-table").css({"display":"none"});
				
				tld = "timeline";
			}
			
		});
		
		
    }); // end document-ready
	
</script>

    


<script type='text/javascript'>
	$(document).ready(function () {
		$("li#table").addClass("nav-active");
	});


  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8964270-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</br>
<%= link_to 'New Medevent', new_medevent_path %>
